

<!--Set up the Division Raster-->
<div class="row-fluid">
  <div class="span12">
    <%= image_tag("drugsarelikethat.png", alt:"drugs") %>



  </div>
</div>





<!--<div class="canvas">-->
  <!--<canvas id="raster" resize="true"></canvas>-->


<!--</div>-->
