<div class="category_name"> coming soon...iOS </div>
<div class="media">
</div>

<div class="category_name"> Interactive Directory </div>
<div class="media">
  <div class="row-fluid">
    <div class="span4">
      <%= link_to image_tag("interactive.jpg"), "http://dali.dartmouth.edu/project/interactive-directory/"%>
    </div>
  </div>

</div>

<div class="category_name"> Early Warning System </div>
<div class="media">
  <div class="row-fluid">
    <div class="span4">
      <%= link_to image_tag("atrocities.png"), "http://dali.dartmouth.edu/project/global-atrocities-prevention-system/"%>
    </div>
  </div>
</div>

<div class="category_name"> Digital Directive </div>
<div class="media">
  <div class="row-fluid">
    <div class="span4">
      <%= link_to image_tag("epiphany.png"), "http://dali.dartmouth.edu/project/epiphany-digital-directive/"%>
    </div>
  </div>
</div>
