<div class='haikus'>
	my name is lisa
	<br>
	I enjoy <one>art</one> and <two>hacking</two>
	<br>
	and writing haikus
	<br>

	<br>
	<dgreen><%= link_to(' Dartmouth', 'http://www.dartmouth.edu', target: 'blank', style: 'color:white') %></dgreen>
	in my veins
	<br>

	<ksrgreen><%= link_to('Kickstarter', 'http://www.kickstarter.com/profile/lisaluo', target: 'blank', style: 'color:white')%></ksrgreen>
	helps fund the brains
	<br>
	<hackny>
		<%= link_to('hackNY', 'http://hackny.org/a/', target: 'blank', style: 'color:white') %></hackny> alum
	<br>

	<br>
	say hi, stay a while,
	<br>
	drop a line over the web
	<br>
	internet friends, yay
	<br>
	<br>
	<%= link_to(':-)', 'https://www.youtube.com/watch?v=kVQWjMTpkhY', target: 'blank') %>
</div>

<script>
	$('one').hover(function(){
	  $('port').css('background-color','#FFF599');
	  },function(){
	  $('port').css('background-color','white');
	});

	$('two').hover(function(){
	  $('proj').css('background-color','#FFF599');
	  },function(){
	  $('proj').css('background-color','white');
	});
</script>