<div class='haikus'>
	my name is Lisa
	<br>
	I enjoy <one>art</one> and <two>hacking</two>
	<br>
	and writing haikus
	<br>
	<br>
	senior at 
	<dgreen>
		<%= link_to('Dartmouth,', 'http://www.dartmouth.edu', target: 'blank', style: 'color:#00703C') %>
	</dgreen>
	<br>
	formerly at 
	<ksrgreen>
		<%= link_to('Kickstarter,', 'http://www.kickstarter.com/profile/lisaluo', target: 'blank', style: 'color:#2BDE73') %>
	</ksrgreen>
	<br>
	currently
	<dali>
		<%= link_to('D.A.L.I.', 'http://dali.dartmouth.edu/', target: 'blank', style: 'color:#FF9F40') %>
	</dali>
	<br>

	<br>
	say hi, drop a line,
	<br>
	via the buttons below
	<br>
	social media.
	<br>
	<br>
	<%= link_to(':-)', 'https://www.youtube.com/watch?v=kVQWjMTpkhY', target: 'blank') %>
</div>

<script>
	$('one').hover(function(){
	  $('port').css('background-color','pink');
	  },function(){
	  $('port').css('background-color','white');
	});

	$('two').hover(function(){
	  $('proj').css('background-color','pink');
	  },function(){
	  $('proj').css('background-color','white');
	});
</script>