// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// By Lisa Luo
// Created 2/16/2014
// Last modified 2/16/2014


html *{
  font-family: "Andale Mono", monospace;
  color:rgb(50,50,50);
}

//#under_construction{
//  position:fixed;
//  padding:0;
//  margin:0;
//  width:100%;
//  height:100%;
//  opacity:0.5;
//}

under_construction{
  color:red;
  font-size:xx-large;
  text-align:center;
  padding:30px;
}

// SIDEBAR STYLING
//////////////////
#sidebar{
  width:310px;
  background:black;
  //color:white;
  position:fixed; // Keeps sidebar from scrolling with page.
  top:0;
  left:0;
  bottom:0; // adjust as needed for a footer
}

#sidebar_image{
  margin-top:20px;
  margin-bottom:20px;
}

#sidebar_name{
  text-align:center;
  color:white;
  font-size:x-large;
  padding:5px;
}

#sidebar_quote{
  font-style:Italic;
  padding:25px;
}

.sidebar_text{
 color:white;
  text-align:center;
}

// For social media icons.
#sidebar_footer{
  position:absolute; // Absolute fixes footer to bottom.
  bottom:25px;       // Center in the HTML using align.
  height:50px;
  width:100%;
}

#copyright{
  font-size:x-small;
  color:white;
}

// MAINPAGE STYLING
///////////////////
// Pixel buffer for the sidebar

.container{
  background-color:black;
  height:100%;
  width:100%;
  position:fixed;
}

.mainpage{
  margin-left:311.5px;
  //position:absolute;
  //background:black;
  height:100%;
}

.mainpage_text{
  margin-left:10px; // Because this falls under the mainpage hierarchy, already
  //color:white;      // 300px moved over.
}

// Portfolio, Projects, Inspirations
.mainpage_tabs{
  padding:20px;
  font-size:xx-large;
  color:white;
}

#mainpage_footer{
  position:fixed; // Absolute fixes footer to bottom.
  bottom:25px;       // Center in the HTML using align.
  height:50px;
  width:100%;
  text-align:center;
  font-size:xx-large;
}

.content{
  padding:10px;
}

.category_name{
  //color:white;
  font-size:x-large;
  padding:5px;
  text-align:right;
  border-bottom:3px dotted;
}

//.dotted_break{
//  border-top:1px dotted;
//  height:2px;
//  width:100%;
//}

.media{
  padding:10px;
  //height:200px;
}

.caption{
  font-size:small;
  text-align:center;
}

.paperscript .canvas{
  line-height:0;
}

.paperscript{
  position: relative;
}