img:hover {
  opacity: .7;
  cursor: pointer;
}

//commented out because i don't want it to apply to the sidebar image yet
//img{
//  -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
//  -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
//  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
//}